registry=https://repository.itt.space/repository/npm-group
//repository.itt.space/repository/:_authToken=fe8de679-5775-3b67-b1e7-f0977c68fdea
phantomjs_cdnurl=https://repository.itt.space/repository/phantomjs
chromedriver_cdnurl=https://repository.itt.space/repository/chromedriver
operadriver_cdnurl=https://repository.itt.space/repository/operadriver
SASS_BINARY_SITE=https://repository.itt.space/repository/node-sass
