@import '../../../style/_variables.scss';

.app-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--header-height);
    .am-tab-bar-tab {
        height: 100%;
        padding: 0;
        .am-tab-bar-tab-icon {
            font-size: 22px;
            margin-top: -10px;
        }
        .am-tab-bar-tab-title {
            margin-top: 0;
        }
    }
}
