@import '../../../style/_variables.scss';

.app-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: var(--header-height);
    border-top: .01rem solid var(--footer-border-colorc);
    background-color: var(--footer-bg);
    .app-footer-item {
        flex: 1;
        align-items: center;
        padding-top: .2rem;
        color: var(--font-color);
        text-align: center;
        .fa {
            display: block;
            font-size: var(--footer-font-size);
        }
        span {
            font-size: var(--footer-icon-size);
            display: block;
        }
    }
    .active {
        color: var(--common-bg);
    }
}
