@import '../../../style/_variables.scss';

.app-home {
    .category-carousel {
        margin-top: 1rem;
        margin-bottom: .3rem;
        .am-flexbox .am-flexbox-item .am-grid-item-content {
            .am-grid-item-content {
                .am-grid-icon {
                    width: 50%;
                    height: 50%;
                }
            }
            .am-grid-text {
                color: #aaaaaa;
                font-size: .3rem;
            }
        }
    }
}
