@import '../../../style/_variables.scss';

.app-me {
    padding-top: var(--header-height);
    padding-bottom: var(--header-height);
    .app-me-avatar-panel {
        height: 5rem;
        background-color: var(--common-bg);
        .am-list-body {
            height: 100%;
            background-color: transparent;
            .am-list-item {
                height: 100%;
                padding-left: .6rem;
                background-color: transparent;
                .am-list-thumb {
                    width: 4rem;
                    height: 4rem;
                    margin-right: 0;
                    border-radius: 2rem;
                    img {
                        width: 100%;
                        height: 100%;
                        border: none;
                    }
                }
                .am-list-line {
                    padding-left: .4rem;
                    .am-list-content {
                        color: var(--header-font-color);
                        font-size: 1rem;
                        font-weight: bold;
                    }
                    .am-input-control {

                    }
                }
            }
        }
    }
    .app-me-list {
        background-color: transparent;
        .am-list-body {
            height: 2rem;
            background-color: transparent;
            box-sizing: border-box;
            .am-list-item {
                height: 100%;
                min-height: 100%;
                .am-list-thumb {
                    font-size: 1rem;
                    text-indent: .3rem;
                }
                //img {
                //    width: .4rem;
                //    height: .4rem;
                //}
                .am-list-line {
                    .am-list-content {
                        width: 100%;
                        height: 1.5rem;
                        position: relative;
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
                    .am-list-arrow {
                        //font:;
                    }
                }
            }
        }
        .verification-code-area {
            img{
                width: 2.3rem;
                height: .8rem;
            }
            span {
                margin-left: .3rem;
                font-size: .3rem;
            }
        }
    }
    .app-me-setting-signup-btn, .app-me-setting-submit-btn {
        width: 95%;
        height: 2.5rem;
        margin: .5rem auto;
        font-size: .8rem;
        line-height: 2.5rem;
        border-color: #aaa;
        padding: 0;
    }
    .app-me-setting-signup-btn {
        margin-top: 2rem;
    }
}
.app-me-login {
    .app-me-login-btn-list {
        height: 3rem;
    }
    .am-button {
        height: 2rem;
    }
}
