@import '../../../style/_variables.scss';

.app-search {
    padding-top: var(--header-height);
    padding-bottom: var(--header-height);
    .home-shop-list {
        padding: 0 10px;
        margin: 0;
    }
    .wrap-common-btns {
        display: flex;
        width: 100%;
        .wrap-common-btn:not(:last-child) {
            border-right: 1px solid #cccccc;
        }
    }
}
