@charset "UTF-8";

.home-view {
    .login-form {
        width: 400px;
        height: 300px;
        margin: 0 auto;
        padding-top: 100px;
    }
    .btn {
        margin-left: 30px;
    }
}

